@{
    ViewData["Title"] = "Contact pagina";
}

<div class="text-center">
    <h1 class="display-4 rock_salt">SmoothboardStylers contactpagina!</h1>
    <p>Wilt u contact met ons opnemen? Stuur een mail naar: smoothboardstylers@bussines.nl.</p>
    <p>Belt u liever? Bel dan naar: 0229 12345678.</p>
</div>