@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4 rock_salt">Welkom bij SmoothboardStylers!</h1>
    <p>Heb je een vraag, dan kunt u terecht op de <a href="#">FaQ</a> pagina. Specefiekere vragen? Neem contact met ons op <a asp-area="" asp-controller="Home" asp-action="Contact">Contact</a></p>
</div>
