@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Al je gegevens worden gestolen en gedeeld met de volgende entiteiten:</p>
<table>
    <tr>
        <th>Entiteit</th>
    </tr>
    <tr>
        <td>Google</td>
    </tr>
    <tr>
        <td>De Chinese overheid</td>
    </tr>
    <tr>
        <td>De Nederlandse overheid</td>
    </tr>
    <tr>
        <td>Huawei</td>
    </tr>
    <tr>
        <td>Iedereen die erom vraagt</td>
    </tr>
</table>
<hr />
<p>We hopen je voldoende hebben ingelicht over dit dillema.</p>